
# Math Practice

Multiply 3.93 by 4901

In [15]:
3.93 * 4901

19260.93

Divide 3 by 0.3

In [16]:
3 // 0.3

10.0

Find the integer result of 3 / 2

In [17]:
int(3/2)

1

Find the remainder of 454 / 7

In [18]:
454 % 7

6

Find the value of 9 raised to the 12th power

In [11]:
pow(9,12)

282429536481

Find 3.14159 rounded down to the nearest integer

In [7]:
round(3.14159)

3

Find 3.14159 * 7 rounded to the nearest integer

In [8]:
round(3.14159 * 7)

22

# Data Type Practice

Cast "2019" to an integer

In [14]:
int("2019")

2019

Cast 2019 to a string

In [29]:
str(2019)

'2019'

Find the data type of True

In [56]:
type(8 % 2 == 0)

bool

Find the data type of "False"

In [13]:
type("false")

str

Check whether 'c' is greater than 's'

In [25]:
'c' > 's'

False

We know that 30908234 is an even number. Check this using a line of code.

In [28]:
30908234 % 2 == 0

True

Return the value of 6.3 divided by 3.8

In [4]:
def x():
    return 6.3 / 3.8
x()

1.6578947368421053

Now cast the value of 6.3 divided by 3.8 to an integer. Notice anything interesting?

In [19]:
int(x())
print(str(int(x())) + ' is an integer and it does not have additional decimal')

1 is an integer and it does not have additional decimal

# String Practice

Print your whole name with one print statement including the necessary spaces

In [9]:
print('Bowen Chen')

Bowen Chen

Print your first name and last in different lines

In [22]:
print("""
Bowen
Chen
""")

Bowen
Chen

Make the statement correct: print("8 % 2 =" + (8 % 2))

In [37]:
print("8 % 2 == " + str(8 % 2))

8 % 2 == 0

Print the following, (including the single and double quotes):<br />
Albert Einstein's best quote is "I have no special talent. I am only passionately curious."

In [39]:
print("""Albert Einstein's best quote is "I have no special talent. I am only passionately curious.""")

Albert Einstein's best quote is "I have no special talent. I am only passionately curious.

Try to concatenate your first name and last name into a single string

In [5]:
x = str('Bowen') + str('Chen')
x

'BowenChen'